# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Kecualikan build/web hanya jika Anda benar-benar butuh deploy ke Vercel/Netlify langsung dari repo ini
# !/build/web/

# Android Studio/IntelliJ
.idea/
*.iml
android/local.properties
android/.gradle/

# Masalah yang tadi Anda alami (Intermediate files)
**/android/app/build/
**/android/app/intermediates/
