# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# PENTING: Folder build utama tetap di-ignore, 
# TAPI build/web harus masuk git agar terbaca Vercel
/build/
!/build/web/

# Android Studio/IntelliJ
.idea/
*.iml
android/local.properties
android/.gradle/
